name: HomeAssistant
services: # TODO: Include resource limits for all containers in this stack
  MQTT:
    image: eclipse-mosquitto
    container_name: MQTT
    restart: unless-stopped
    hostname: mqtt
    networks:
      - HomeAssistant
      - Frigate
    volumes:
      - ${DOCKER_VOLUMES}/MQTT/log:/mosquitto/log
      - ${DOCKER_VOLUMES}/MQTT/data:/mosquitto/data
      - ${DOCKER_VOLUMES}/MQTT/config:/mosquitto/config

  Frigate:
    image: ghcr.io/blakeblackshear/frigate:stable
    container_name: Frigate
    restart: unless-stopped
    privileged: true # Must be privileged to enable hardward acceleration. This allows access intel_gpu_top command for gpu stats.
    shm_size: "128mb" # https://docs.frigate.video/frigate/installation/#calculating-required-shm-size
    devices:
      - /dev/dri/renderD128 # For intel hwaccel, needs to be updated for your hardware
    ports:
      - 8555:8555 # WebRTC
    hostname: frigate
    networks:
      - Frigate
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_VOLUMES}/Frigate/config:/config
      - ${DOCKER_VOLUMES}/Frigate/storage:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    environment:
      FRIGATE_RTSP_USER: "${RTSP_USER}"
      FRIGATE_RTSP_PASSWORD: "${RTSP_PASSWORD}"
      FRIGATE_MQTT_USER: "${MQTT_USER}"
      FRIGATE_MQTT_PASSWORD: "${MQTT_PASSWORD}"
    depends_on:
      - MQTT

  MusicAssistant:
    container_name: MusicAssistant
    image: ghcr.io/music-assistant/server:latest
    restart: unless-stopped
    hostname: musicassistant
    networks:
      AAA_LAN:
        mac_address: 0A:00:00:00:00:01 # Set static LAN MAC address for container (e.g. MAC address used in `AAA_LAN` MacVLAN network persists between container stops/starts)
      MusicAssistant:
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_VOLUMES}/MusicAssistant/data:/data
      - ${MUSIC_VOLUME}:/media:ro # Read only is necessary if you're mounting music from a folder within Nextcloud's internal storage in order to prevent data corruption and other issues.

  Chrome: # Allows running Selenium scripts using Pyscript within Home Assistant
    image: selenium/standalone-chrome:latest
    container_name: Chrome
    restart: unless-stopped
    hostname: chrome
    shm_size: 2g # Required unless using chrome option `--disable-dev-shm-usage`
    networks:
      - Chrome
    environment:
      - SE_START_VNC=false
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2GB

  Glances:
    image: docker.io/nicolargo/glances
    container_name: Glances
    restart: unless-stopped
    pid: host
    hostname: glances
    networks:
      Glances:
    environment:
      - GLANCES_OPT=-w # Enable webserver mode (which is required to use the Home Assistant integration)
      - TZ=America/Denver
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Allow Glances to report information about the state of Docker Containers on the host

  MatterHub:
    image: ghcr.io/t0bst4r/home-assistant-matter-hub:latest
    container_name: MatterHub
    restart: unless-stopped
    hostname: matterhub
    network_mode: host
    environment:
      - HAMH_HOME_ASSISTANT_URL=http://172.31.255.254:8123/ # Connect to HomeAssistant via its static IP in the MatterHub Docker network defined at the bottom of this file. I was unable to get Matter Hub to work properly on a MacVLAN network -- host networking is required for this container which complicates communication with HomeAssistant container which IS on a MacVLAN network.
      - HAMH_HOME_ASSISTANT_ACCESS_TOKEN=${HA_ACCESS_TOKEN}
    volumes:
      - ${DOCKER_VOLUMES}/MatterHub:/data
    depends_on:
      - HomeAssistant

  HomeAssistant:
    image: ghcr.io/home-assistant/home-assistant:latest
    container_name: HomeAssistant
    restart: unless-stopped
    hostname: homeassistant
    networks:
      AAA_LAN:
        mac_address: 0A:00:00:00:00:02 # Set static LAN MAC address for container (e.g. MAC address used in `AAA_LAN` MacVLAN network persists between container stops/starts)
      HomeAssistant:
      Chrome: # Used by pyscript `router_rebooter` module for Selenium within HA
      Glances:
      MatterHub:
        ipv4_address: 172.31.255.254 # MatterHub communicates with HomeAssistant via this static IP in the network defined at the bottom -- this is the only way I managed to allow Matter Hub container in host networking mode to communicate with HomeAssistant which is on MacVLAN network.
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_VOLUMES}/HomeAssistant/config:/config
      - ./configuration.yaml:/config/configuration.yaml:ro # Mount the configuration.yaml from this repository into the container
      - ./pyscript:/config/pyscript:ro # Mount pyscript apps folder from this repository into the container
      - ./pyscript_modules:/config/pyscript_modules:ro # Mount pyscript modules folder from this repository into the container
    # Custom environment variables used within Pyscript for `router_rebooter` app:
    environment:
      - ROUTER_PASSWORD=${ROUTER_PASSWORD}
      - EXTENDER_PASSWORD=${EXTENDER_PASSWORD}
    depends_on:
      - MQTT
      - Frigate
      - MusicAssistant

networks:
  AAA_LAN:
    name: AAA_LAN
    external: true
  HomeAssistant:
    name: HomeAssistant
    external: true
  Chrome:
    name: Chrome
    external: true
  Frigate:
    name: Frigate
    external: true
  MusicAssistant:
    name: MusicAssistant
    external: true
  Glances:
    name: Glances
    external: true
  MatterHub: # Allows Matter Hub container running in host networking mode, to communicate with Home Assistant container with primary gateway on MacVLAN network.
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.255.252/30
